body{
fontArial, sans-serif;
margin: 0;
padding: 0
background-color: #f4f4f4;
}

header nav ul {
display: flex;
justify-content: space-around;
list-style: none;
padding: 1em;
backgroung-color: #333;
color:white;
}

.hero{
text-align: center;
padding: 4me;
background-color: #007bff;
color: white
}

.cta-button{
background-color: #28a745;
color: white;
padding: 1em 2em:
text-decoration: none;
border-radius: 5px;
transition: background-color 0.3s;
}

.cta-button:hover{
background-color: #218838;
}

@media (max-width: 768px){
header nav ul {
flex-direction: column;
}
}
